<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Listas</h4>
  <ion-list>

    <ion-item href="http://google.com.br">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>1. Isso é um label dentro do ion-item</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-label>1. Isso é um label dentro do ion-item</ion-label>
    </ion-item>

  </ion-list>

  <h4>Listas avatar</h4>
  <ion-list>

    <ion-item href="http://google.com.br">
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/random/200x200"></ion-img>
      </ion-avatar>
      <ion-label>Henrique Bustillos</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/random/200x200"></ion-img>
      </ion-avatar>
      <ion-label>Jamilton Damasceno</ion-label>
    </ion-item>

  </ion-list>

  <h4>Listas slide</h4>
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Henrique Bustillos</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">
          <ion-icon slot="start" name="create"></ion-icon>
          Alterar
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="start">
        <ion-item-option color="success">
          <ion-icon slot="start" name="star"></ion-icon>
          Favoritar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Jamilton Damasceno</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">
          <ion-icon slot="start" name="create"></ion-icon>
          Alterar
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="start">
        <ion-item-option color="success">
          <ion-icon slot="start" name="star"></ion-icon>
          Favoritar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>