<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Configurando entrada (floating, fixed e stacked)</h4>
  <ion-item>
    <ion-label position="floating">Seu nome:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  
  <h4>Entrada de dados (value, placeholder, clearinput)</h4>
  <ion-item>
    <ion-input clear-input placeholder="Digite seu nome"></ion-input>
  </ion-item>
  
  <h4>Tipos de entradas (text, number, password, email, tel, url, search)</h4>
  <ion-item>
    <ion-label>Texto:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Número:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tel:</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Url:</ion-label>
    <ion-input type="url"></ion-input>
  </ion-item>
  
</ion-content>